div
  = link_to 'Index', cards_path

p = @card.content

/ = form_with object: @card, method: 'delete' do |f|
/   = f.button 'delete'

= render partial: 'index', locals: { cards: @card.children, parent: @card }

/ = form_with model: Invitaion.new(inviter: current_user) do |f|
/   = f.input
